[Desktop Entry]
Name=Godot Git
Comment=Application for making games
Exec=/usr/bin/godot-git %U
Icon=godot-git
Terminal=false
Type=Application
Categories=Development;
